/*
when pseudo-classes are used, they should appear in following order: link, visited, hover, focus, active

*/
body{
    background-color: beige;
}

h1{
    text-align: center;
    text-shadow: 0px 4px 8px #cd39bc;
    text-transform: capitalize;
}

p.lo1{
    text-align: justify;
    color: darkgreen;
}

p.lo1:first-letter{
    color: red;
    font-weight: bold;
    font-size: 30px;
}

p.lo2:first-line{
    color: brown;
/*    text-indent: 3em; */
}

p.lo2{
    text-indent: 2em;
}

a:link{
    color: fuchsia;
}

p.lo2>a:visited{
    color: dodgerblue;
}

p.lo2 a:hover{
    color: aquamarine;
}

p.lo3 a:active{
    color: coral;
}
