/*
when pseudo-classes are used, they should appear in following order: link, visited, hover, focus, active

*/
body{
    background-color: beige;
}

h1{
    text-align: center;
    text-shadow: 0px 4px 8px #cd39bc;
    text-transform: capitalize;
}

p.lo1{
    text-align: justify;
    color: darkgreen;
}

p.lo1:first-letter{
    color: red;
}

p.lo4:first-letter{
    font-family: sans-serif;
    font-weight:bold;
    font-weight: bold;
    font-size: 25px;
    color: yellow;
    
}
p.lo2:first-line{
    color: brown;
/*    text-indent: 3em; */
}

p.lo2{
    text-indent: 3em;
}

a:link{
    color: fuchsia;
}

p.lo2>a:visited{
    color: dodgerblue;
}

p.lo2 a:hover{
    color: aquamarine;
}

p.lo3 a:active{
    color: coral;
}

p[class]{
    background-color:cornflowerblue;
}

p[class="lo2"]{
    background-color:aquamarine;
    line-height: 2em;
}
 
p[class~="lo4"]{
    background-color:coral;
}
p[id="lo1"]{
    font-size: 12px;
    
}

p[id$="ng"]{
    background-color: darkseagreen;
    text-transform: uppercase;
    word-spacing: 2em;
}

p.lo3{
    text-align: justify;
}