h1:first-letter{
    text-transform: uppercase;
    color: red;
}
h1{
    text-shadow: 3px -4px 7px #aec214;
    text-indent: 2em;
}

h2{
    text-decoration: underline;
    text-indent: 1em;
}

ol{ /*We can use li{}  */
    line-height: 2em;
}

div.box{
    width: 500px;
    height: 100px;
    background-color: rgb(27,146,74);
    color: saddlebrown;
    text-align: justify;
    line-height: 1.5em;
    font-family: sans-serif;
}

p{
    height:92%;
    width: 95%;
    background-color: #bbbbaa;
}

td.description{
    min-width: 100px;
    max-width: 250px;
    text-align: left;
    padding: 15px;
    margin: 0px;
    background-color: aqua;
    
}

td.javalogo {
   min-width: 100px;
    max-width: 250px;
    text-align: left;
    padding: 05px;
    margin: 0px;
    background-color: burlywood;
}

tr.tableheader{
    text-decoration: underline;
    color: cornflowerblue;
}

h2, p {
  width: 400px;
  font-size: 90%;
  line-height: 1.2em;}
h2 {
  color: #0088dd;
  border-bottom: 1px solid #0088dd;}
p{
    min-height: 10px; 
    max-height: 30px;
/*    min-width: 0px;*/
    max-width: 500px;
}

@font-face{
    font-family: Ubuntu;
    src:url('../font/alex-brush/AlexBrush-Regular.ttf');
}

h2{
    font-family: Ubuntu;
}
